                        <p-fieldset legend="Cadastro de Usuários">
                            <span class="p-float-label">
                            <input pInputText id="username"/>
                            <label for="username">Nome</label>
                        </span><br>
                        <span class="p-float-label">
                            <input pInputText id="username"/>
                            <label for="username">Sobrenome</label>
                        </span><br>
                        <span class="p-float-label">
                            <input pInputText id="username" type="email"/>
                            <label for="username">E-mail</label>
                        </span><br>
                        <span class="p-float-label">
                            <input pInputText id="username" type="email"/>
                            <label for="username">Data de Nascimento</label>
                        </span><br>
                        <span class="p-float-label">
                            <input pInputText id="username" pKeyFilter="int" />
                            <label for="username">CNPJ</label>
                        </span>
                        </p-fieldset>