<app-menu-navegacao></app-menu-navegacao><br>
<div class="container">
  <div class="form-container">
    <h2 class="form-title">Pesquisar Depósito</h2>
    <form [formGroup]="depositoForm" (ngSubmit)="search()">
      <div class="form-group">
        <label for="idDepositoField">ID Depósito:</label><br>
        <input type="text" pInputText formControlName="idDepositoField" id="idDepositoField" class="form-control" />
      </div><br>
      <button pButton pRipple label="Pesquisar" class="p-button-primary"></button>
    </form>
  </div>

  <div class="result-container" *ngIf="deposito">
    <h2 class="result-title">Resultado da Pesquisa</h2>
    <table class="result-table">
      <thead>
      <tr>
        <th>ID Deposito</th>
        <th>Data Deposito</th>
        <th>Valor</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>{{ deposito.id }}</td>
        <td>{{ deposito.data }}</td>
        <td>{{ deposito.valor }}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
