.saque-table-container {
  display: flex;
  justify-content: center;
  height: 25vh;

}

.saque-table-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.saque-table {
  background-color: #f0f0f0;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 800px;
  max-width: 90%;
  text-align: center;
  margin-bottom: 20px;
  border-collapse: collapse;
}

.saque-table th,
.saque-table td {
  padding: 5px; /* Reduz ainda mais o espaçamento interno das células */
  border: 1px solid #ddd;
}

.saque-table thead th {
  background-color: #ccc;
}
