<app-menu-navegacao></app-menu-navegacao><br>
<div class="container">
  <div class="form-container">
    <h2 class="form-title">Pesquisar Saque</h2>
    <form [formGroup]="saqueForm" (ngSubmit)="search()">
      <div class="form-group">
        <label for="idSaqueField">ID Saque:</label><br>
        <input type="text" pInputText formControlName="idSaqueField" id="idSaqueField" class="form-control" />
      </div><br>
      <button pButton pRipple label="Pesquisar" class="p-button-primary"></button>
    </form>
  </div>

  <div class="result-container" *ngIf="saque">
    <h2 class="result-title">Resultado da Pesquisa</h2>
    <table class="result-table">
      <thead>
      <tr>
        <th>ID Saque</th>
        <th>Data Saque</th>
        <th>Valor</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>{{ saque.id }}</td>
        <td>{{ saque.data }}</td>
        <td>{{ saque.valor }}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
