<div class="menu-container">
  <div class="logo-container">
    <img src="caminho/para/sua/logo.png" alt="Logo" width="100" height="200">
  </div>
  <div class="dropdown">
    <button class="dropbtn">Usuário</button>
    <div class="dropdown-content">
      <a routerLink="/cadastrarusuario">Cadastrar Usuário</a>
      <a routerLink="/cadastrarendereco">Cadastrar Endereço</a>
      <a routerLink="/cadastrartelefone">Cadastrar Telefone</a>
    </div>
  </div>
  <div class="dropdown">
    <button class="dropbtn">Conta</button>
    <div class="dropdown-content">
      <a routerLink="/cadastrarconta">Cadastrar Conta</a>
    </div>
  </div>
  <div class="dropdown">
    <button class="dropbtn">Depósito</button>
    <div class="dropdown-content">
      <a routerLink="/fazerdeposito">Fazer Depósito</a>
      <a routerLink="/listardepositos">Listar Depósitos</a>
      <a routerLink="/pesquisardeposito">Pesquisar Depósito</a>
    </div>
  </div>
  <div class="dropdown">
    <button class="dropbtn">Transferência</button>
    <div class="dropdown-content">
      <a routerLink="/fazertransferencia">Fazer Transferência</a>
      <a routerLink="/listartransferencias">Listar Transferências</a>
      <a routerLink="/pesquisartransferencia">Pesquisar Transferência</a>
    </div>
  </div>
  <div class="dropdown">
    <button class="dropbtn">Saque</button>
    <div class="dropdown-content">
      <a routerLink="/fazersaque">Fazer Saque</a>
      <a routerLink="/listarsaques">Listar Saques</a>
      <a routerLink="/pesquisarsaque">Pesquisar Saque</a>
    </div>
  </div>
</div>
